<%- include('partials/header') %>
<div class="form-container">
  <h2>Register</h2>
  <% if(locals.error) { %>
      <div class="alert alert-danger"><%= error %></div>
  <% } %>
  <form method="post">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" name="Name" id="Name" class="form-control" placeholder="MyStore" value="<%= locals.Name || '' %>" required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control" placeholder="mystore@store.com" value="<%= locals.email || '' %>" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="confirm_password">Confirm Password</label>
      <input type="confirm_password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" class="form-control" required />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
      <a href="/login" class="btn btn-link">or Login</a>
    </div>
  </form>
</div>
<%- include('partials/footer') %> 